# Environment settings
environment:
  env_mode: "NORMAL"
  headless: true

# Training settings
training:
  num_envs: 12
  num_episodes: 1000
  episode_length: 2000
  checkpoint_freq: 100
  add_opponent_freq: 50
  device: "cuda:0"

# SAC hyperparameters
sac:
  hidden_dim: 128
  lr: 0.001
  gamma: 0.99
  tau: 0.01
  alpha: 0.2

# Replay buffer settings
buffer:
  size: 1000000
  batch_size: 512
  min_size: 10000

# League settings
init_opponents:
  - type: checkpoint
    name: "weak_start_checkpoint"
    model_path: "checkpoints/training_20260120_132028/checkpoint_step_50.pt"
  - type: checkpoint
    name: "handcrafted_trained_start_checkpoint"
    model_path: "checkpoints/first_success_training/checkpoint_step_2850.pt"
  - type: checkpoint
    name: "handcrafted_trained_start_checkpoint"
    model_path: "checkpoints/training_20260120_132028/checkpoint_step_850.pt"
  - type: checkpoint
    name: "population_trained_start_checkpoint"
    model_path: "checkpoints/training_20260120_141112/checkpoint_step_600.pt"
  - type: checkpoint
    name: "population_trained_mid_checkpoint"
    model_path: "checkpoints/training_20260125_142957/checkpoint_step_100.pt "
  - type: handcrafted
    name: "basic_strong"
    strength: strong
  - type: handcrafted
    name: "basic_weak"
    strength: weak