# Environment settings
environment:
  env_mode: "NORMAL"
  opponent: "BasicOpponent_strong"

# Training settings
training:
  num_episodes: 1000
  episode_length: 1000
  checkpoint_freq: 50
  device: "cpu"

# SAC hyperparameters
sac:
  hidden_dim: 128
  lr: 0.001
  gamma: 0.99
  tau: 0.01
  alpha: 0.2

# Replay buffer settings
buffer:
  size: 100000
  batch_size: 100
  min_size: 1000
